<div class="container mt-5">
  <h1 class="mb-4">
    <% if action_name == 'admin_index' %>
      Все задачи пользователей
    <% else %>
      Мои задачи
    <% end %>
  </h1>

  <% unless action_name == 'admin_index' %>
    <%= link_to "Новая задача", new_task_path, class: "btn btn-primary mb-3" %>
  <% end %>

  <div id="tasks_list">
    <table class="table table-striped">
      <thead>
        <tr>
          <% if current_user.admin? %>
            <th>Пользователь</th>
          <% end %>
          <th>Название</th>
          <th>Описание</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr id="task_<%= task.id %>">
            <% if current_user.admin? %>
              <td><%= task.user.email %></td>
            <% end %>
            <td><%= task.title %></td>
            <td><%= truncate(task.description, length: 50) %></td>
            <td><%= task.status %></td>
            <td>
              <%= link_to "Просмотр", task, class: "btn btn-sm btn-info" %>
              <%= link_to "Редактировать", edit_task_path(task), class: "btn btn-sm btn-warning" %>
              <%= link_to "Удалить", task, 
                    data: { turbo_method: :delete, turbo_confirm: 'Вы уверены?', turbo: true }, 
                    class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
